@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --header-height: 720px;
    --nav-height: 80px;
    --info-height: auto;
    --blue-dark: #1f242d;
    --blue-light: #282f3a;
    --violet-dark: rgb(73, 44, 131);
    --violet-light: rgb(100, 60, 180);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: overlay;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet-dark);
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--violet-light);
}

nav {
    height: var(--nav-height);
    background-color: var(--blue-dark);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

nav #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    font-size: 20px;
}

nav a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 300ms ease-in-out;
    letter-spacing: 1px;
}

nav a:hover {
    color: var(--violet-light);
}

#buttons .button::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--violet-light);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

#buttons .button:hover::after {
    transform: scaleX(1);
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 80px;
    user-select: none;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 100%;
}

#left-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    background: var(--blue-light);
}

.basic-info {
    width: 80%;
    height: fit-content;
    font-size: 70px; /* relativo al cursorChar dell'auto type */
    z-index: 2;
    color: white;
}

.basic-info .name {
    width: fit-content;
    font-size: 100px;
    text-align: left;
}

.basic-info .introduction {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: left;
}

.download-CV {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 12px 28px;
    background: var(--violet-dark);
    width: fit-content;
    border-radius: 6px;
    border: 3px solid transparent;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-weight: 600;
    transition: 500ms ease;
}

.download-CV #download-icon {
    margin-right: 10px;
    font-weight: 600;
}

.download-CV:hover {
    border-color: var(--violet-light);
    color: var(--violet-light);
    background: transparent;
}

#right-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 40%;
    background: var(--blue-light);
}

.my-image {
    position: relative;
    width: 500px;
    top: 300px;
    z-index: 1;
}

#info {
    height: var(--info-height);
    padding: 20px 250px 20px;
    background-color: var(--blue-dark);
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    top: calc(var(--header-height) + var(--nav-height));
    z-index: 1;
}

#expand {
    position: relative;
    display: flex;
    justify-content: center;
    top: 15px;
}

#expand #arrow-down {
    font-weight: 600;
    font-size: 100px;
    color: white;
    animation: MoveUpDown 1.25s ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
}

.ref-link {
    margin-top: -95px;
    position: absolute;
}

#content {
    height: var(--info-height);
    color: white;
}

#content section {
    margin-bottom: 150px;
    font-size: 22px;
}

#content .title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

#content .description {
    text-align: center;
    margin-bottom: 50px;
}

#content .description .list {
    text-align: left;
}

#content .description a {
    color: var(--violet-light);
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social .social-box {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 20px;
    border: 4px solid var(--violet-light);
    border-radius: 50px;
    background: var(--violet-dark);
}

.social .social-box #contacts {
    font-size: 50px;
    margin-right: 10px;
}

.social .social-box a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.social .social-box span {
    margin-right: 5px;
}

.social .social-box img {
    height: 50px;
    margin-right: 10px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.tools .dev-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: fit-content;
    padding: 15px;
    background: var(--blue-light);
    border-radius: 3px;
    border: 2px solid #191d25e1;
}

.tools .dev-tool .bar {
    height: 14px;
    background: rgb(62, 76, 92);
    width: 100px;
    border-radius: 3px;
    border: 2px solid #191d25e1;
}

.tools .dev-tool .bar .bar-perc {
    height: 14px;
    background: var(--violet-light);
    border-radius: 3px;
}

.tools .dev-tool .val {
    font-size: 15px;
    font-weight: 600;
}

.tools .dev-tool a {
    text-decoration: none;
}

.tools .dev-tool a img {
    height: 100px;
}

.projects {
    display: flex;
    overflow-x: scroll;
    gap: 80px;

    padding: 20px;
    margin-top: 50px;
    scroll-behavior: smooth;
}

.projects::-webkit-scrollbar {
    display: none;
}

.projects .project {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;

    width: 650px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--blue-light);
}

.project .proj-image {
    height: 350px;
    width: 650px;
}

.project .proj-spec {
   text-align: center;
}

.project .proj-spec .proj-name {
    font-weight: 600;
}

.project .proj-spec .proj-desc {
    font-size: 18px;
}

.project .proj-ref {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    background: var(--violet-dark);
    transition: linear 200ms;
}

.project .proj-ref:hover {
    background: var(--violet-light);
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;
    user-select: none;
}

.slider-nav #arrow-left {
    cursor: pointer;
    font-size: 50px;
}

.slider-nav #arrow-right {
    cursor: pointer;
    font-size: 50px;
}

.slider-nav #arrow-left:hover {
    color: var(--violet-light);
    font-weight: 600;
}

.slider-nav #arrow-right:hover {
    color: var(--violet-light);
    font-weight: 600;
}

.slider-nav .pos {
    cursor: normal;
    position: relative;
    font-size: 15px;
    top: 17px;
    font-variation-settings: 'FILL' 1;
}

.formations {
    display: flex;
    gap: 39px;
    align-items: center;

    width: 100%;
}

.formations .education {
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;

    height: auto;
    width: 478px;
    padding: 30px;
    margin: 20px;
    background-color: var(--blue-light);
    border: 2px solid #191d25e1;
}

.education .educ-year {
    font-size: 20px;
    margin-bottom: 20px;
}

.education .educ-title {
    font-weight: 600;
}

.education .educ-place {
    color: rgb(132, 132, 132);
}

.education .educ-desc {
    font-size: 18px;
    margin-top: 20px;
}

.languages {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.languages .len-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.languages .len-box .flag {
    position: relative;
    width: 100%;
}

.languages .len-box .flag img {
    height: 150px;
}

.languages .len-box .flag .language {
    visibility: hidden;
    width: 196px;
    bottom: 100%;
    left: 50%;
    margin-left: -101px;
    margin-bottom: 10px;
    background-color: var(--violet-dark);
    border: 3px solid var(--violet-light);
    color: white;
    text-align: center;
    border-radius: 4px;
    
    position: absolute;
    z-index: 1;
}

.languages .len-box .flag:hover .language {
    visibility: visible;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    background: var(--blue-light);
    position: relative;
    top: calc(var(--header-height) + var(--nav-height));
}

footer .footer-info {
    font-size: 30px;
    color: white;
}

.back-to-top {
    text-decoration: none;
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--violet-dark);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;

    position: sticky;
    float: right;
    bottom: 30px;
    right: 50px;
    margin-top: 63vh;
    transition: opacity 300ms;

    z-index: 1;
}

.back-to-top:hover {
    background-color: var(--violet-light);
}

.back-to-top.active {
    pointer-events: auto;
    opacity: 1;
}

.back-to-top #arrow-up {
    color: white;
    font-size: 30px;
}

.back-to-top .popup-message {
    visibility: hidden;
    width: 130px;
    bottom: 100%;
    left: 50%;
    margin-left: -65px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 4px;
    
    position: absolute;
    z-index: 1;

    opacity: 0;
    transform: scale(0.7);
    transition: linear 150ms;
}

.back-to-top:hover .popup-message {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: linear 150ms;
}