@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: overlay;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a09f9f;
}

:root {
    --header-height: 720px;
    --nav-height: 80px;
    --info-height: 2000px;
}

nav {
    height: var(--nav-height);
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

nav #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

#buttons .button::after {
    content: '';
    display: block;
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

#buttons .button:hover::after {
    transform: scaleX(1);
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 80px;
    user-select: none;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 100%;
}

#left-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, #b21f1f, #1a2a6c);
}

.basic-info {
    width: 80%;
    height: fit-content;
    color: white;
    font-size: 70px; /* relativo al cursorChar dell'auto type */
    z-index: 2;
}

.basic-info .name {
    width: fit-content;
    font-size: 100px;
    text-align: left;
}

.basic-info .introduction {
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
}

#right-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, #1a2a6c, #111b43);;
}

.my-image {
    position: relative;
    width: 500px;
    top: 300px;
    z-index: 1;
}

#info {
    height: var(--info-height);
    padding: 20px 250px 200px;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: calc(var(--header-height) + var(--nav-height));
    z-index: 1;
}

#expand {
    position: relative;
    display: flex;
    justify-content: center;
    top: 15px;
}

#expand #arrow-down {
    font-size: 100px;
    color: white;
    animation: MoveUpDown 1.25s ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
}

.ref-link {
    margin-top: -95px;
    position: absolute;
}

#content {
    height: var(--info-height);
    color: white;
}

#content section {
    margin-bottom: 150px;
    font-size: 22px;
}

#content .title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

#content .description {
    margin-bottom: 50px;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social .social-box {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 5px #888888;
}

.social .social-box #contacts {
    font-size: 50px;
    margin-right: 10px;
}

.social .social-box a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.social .social-box span {
    margin-right: 5px;
}

.social .social-box img {
    height: 50px;
    margin-right: 10px;
}

footer {
    height: 100px;
    background: linear-gradient(to right, #b21f1f, #1a2a6c, #111b43);
    position: relative;
    top: calc(var(--header-height) + var(--nav-height));
}

footer .footer-info {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 35px;
}

.back-to-top {
    text-decoration: none;
    padding: 10px;
    padding-bottom: 5px;
    background: #585858;
    border-radius: 50%;
    
    position: sticky;
    float: right;
    bottom: 30px;
    right: 50px;
    margin-top: 53vh;
    transition: linear 500ms;

    z-index: 1;
}

.back-to-top #arrow-up {
    color: white;
    font-size: 30px;
}

.back-to-top .popup-message {
    visibility: hidden;
    width: 130px;
    bottom: 100%;
    left: 50%;
    margin-left: -65px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;

    opacity: 0;
    transform: scale(0.7);
    transition: linear 150ms;
}

.back-to-top:hover .popup-message {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: linear 150ms;
}

.back-to-top:active {
    background: #868686;
    transition: linear 100ms;
}