<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tiziano Tinari</title>
</head>
<body>
    <nav>
        <div id="buttons">
            <a class="button" href="">Chi Sono</a>
            <a class="button" href="">Esperienze Lavorative</a>
            <a class="button" href="">Competenze Tecniche</a>
            <a class="button" href="">Progetti</a>
            <a class="button" href="">Istruzione E Formazione</a>
            <a class="button" href="">Lingue</a>
        </div>
    </nav>

    <header>
        <div id="flex-container">
            <div id="left-cell">
                <div class="basic-info">
                    <span class="name"></span> <!-- autoType.js -->
                    <div class="introduction">
                        Ciao, io sono Tiziano Tinari, ho 23 anni, sono
                        laureato in Ingegneria Informatica (Triennale) e
                        voglio diventare un FULL-STACK Developer per lo
                        sviluppo di applicazioni web
                    </div>
                </div>
            </div>

            <div id="right-cell">
                <img class="my-image" src="/images/Laurea-Tiziano Tinari.png"/>
            </div>
        </div>
    </header>

    <section id="info">
        <div id="down-arrow">
            <a href="#content"><img src="/images/Arrow-Down.png"/></a>
        </div>

        <div id="content">

        </div>
    </section>

    <footer>
        <div class="footer-info">
            Realizzato da Tiziano Tinari
        </div>
    </footer>

    <a href="#" class="back-to-top"><img src="/images/Arrow-Up.png"/></a>

    <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
    <script src="/scripts/autoType.js"></script>
</body>
</html>