<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Tiziano Tinari</title>
</head>
<body>
    <nav>
        <div id="buttons">
            <a class="button" href="#chiSono">Chi Sono</a>
            <a class="button" href="#esperienze">Esperienze Lavorative</a>
            <a class="button" href="#competenze">Competenze Tecniche</a>
            <a class="button" href="#progetti">Progetti</a>
            <a class="button" href="#istruzione">Istruzione E Formazione</a>
            <a class="button" href="#lingue">Lingue</a>
        </div>
    </nav>

    <header>
        <div id="flex-container">
            <div id="left-cell">
                <div class="basic-info">
                    <span class="name"><b>Tiziano Tinari</b></span>
                    <div class="introduction">
                        Ciao, io sono Tiziano Tinari, ho 23 anni, sono
                        laureato in Ingegneria Informatica (Triennale) e
                        voglio diventare un FULL-STACK Developer per lo
                        sviluppo di applicazioni web.
                    </div>
                    <a class="download-CV" href="/downloadable/CV Tiziano Tinari.pdf" download>
                        <span class="material-symbols-outlined" id="download-icon">download</span>
                        <span>Download CV</span>
                    </a>
                </div>
            </div>

            <div id="right-cell">
                <img class="my-image" src="/images/Laurea-Tiziano Tinari.png"/>
            </div>
        </div>
    </header>

    <section id="info">
        <div id="expand">
            <a href="#chiSono">
                <span class="material-symbols-outlined" id="arrow-down">expand_more</span>
            </a>
        </div>

        <div id="content">
            <div class="ref-link" id="chiSono"></div>
            <section>
                <div class="title"><b>Chi Sono</b></div>
                <div class="description">
                    Ciao, io sono Tiziano Tinari, ho 23 anni e sono un appassionato
                    della programmazione. Sono un ragazzo abbastanza timido;
                    non tendo a parlare molto ma sono un bravo ascoltatore.
                    Non esco molto spesso, se non con gli amici per fare una 
                    cena insieme o per andare a vedere un film al cinema.
                    Durante il mio tempo libero preferisco guardare serie-tv o passare
                    il tempo sul mio hobby preferito: i videogiochi. Sono un
                    ragazzo piuttosto ansioso, che a volte si fa prendere dal panico
                    anche per cose banali, ma nonostante questo riesco comunque a
                    cavarmela cercando di trovare una soluzione al problema,
                    sbattendoci la testa anche per svariate ore se necessario. Ho
                    frequentato un liceo scientifico per poi andare a frequentare
                    il mondo dell'università. All'inizio ho frequentato l'università
                    Sapienza iscrivendomi al corso di Matematica, ma dopo 1 anno ho
                    capito che non faceva per me e ho deciso di trasferirmi
                    all'università degli studi ROMA TRE per studiare Ingegneria Informatica,
                    il corso su cui attualmente mi sono laureato in triennale. Nonostante
                    le molte materie interessanti in cui mi sono imbattuto, quello che
                    a me è sempre piaciuto fare è programmare e tutt'ora sto cercando di
                    ampliare le mie conoscenze, sperando di risucire a diventare in futuro
                    un valido sviluppatore, magari anche come FULL-STACK developer.
                </div>
                <div class="social">
                    <div class="social-box">
                        <div class="material-symbols-outlined" id="contacts">call</div>
                        <span>3662757743</span>
                    </div>
                    <div class="social-box">
                        <div class="material-symbols-outlined" id="contacts">home</div>
                        <span>Mentana (RM)</span>
                    </div>
                    <div class="social-box">
                        <div class="material-symbols-outlined" id="contacts">mail</div>
                        <a href="mailto:tinaritiziano@gmail.com">tinaritiziano@gmail.com</a>
                    </div>
                    <div class="social-box">
                        <img src="/images/GitHub-Icon.jpg" />
                        <a href="https://github.com/HaroldErDev" target="_blank" rel="noreferrer noopener">HaroldErDev</a>
                    </div>
                </div>
            </section>

            <div class="ref-link" id="esperienze"></div>
            <section>
                <div class="title"><b>Esperienze Lavorative</b></div>
                <div class="description">
                    Come unica esperienza lavorativa ho svolto un tirocinio curricualare
                    presso l'azienda <a href="https://www.taisolutions.com/it/" target="_blank" rel="noreferrer noopener">TAI Software Solutions</a>
                    dal 01/12/2022 fino al 03/02/2023, per un totale di poco più di 2 mesi.
                    Durante il periodo di tirocinio ho effettuato:
                    <ul class="list">
                        <li>
                            Analisi e progettazione di un sistema documentale personalizzato basato su
                            <a href="https://www.alfresco.com/it/ecm-software" target="_blank" rel="noreferrer noopener">Alfresco</a>,
                            tramite tecnologia Java, in ambito ECM (Enterprise Content Management).
                        </li>
                        <li>
                            Automatizzazione della gestione dei contenuti, implementando
                            quelle che sono le caratteristiche principali che circondano Alfresco: Modello
                            Dati, Azioni, Behaviour e REST API.
                        </li>
                        <li>
                            Gestione degli errori.
                        </li>
                    </ul>
                </div>
            </section>

            <div class="ref-link" id="competenze"></div>
            <section>
                <div class="title"><b>Competenze Tecniche</b></div>
                <div class="tools">
                    <div class="dev-tool">
                        <a href="https://it.wikipedia.org/wiki/C_(linguaggio)" target="_blank" rel="noreferrer noopener">
                            <img src="/images/C-Logo.png"/>
                        </a>
                        <span class="val">50%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:50%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://it.wikipedia.org/wiki/Java_(linguaggio_di_programmazione)" target="_blank" rel="noreferrer noopener">
                            <img src="/images/Java-Logo.png"/>
                        </a>
                        <span class="val">80%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:80%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://spring.io/projects/spring-boot" target="_blank" rel="noreferrer noopener">
                            <img src="/images/SpringBoot-Logo.png"/>
                        </a>
                        <span class="val">65%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:65%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://git-scm.com/" target="_blank" rel="noreferrer noopener">
                            <img src="/images/Git-Logo.png"/>
                        </a>
                        <span class="val">60%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:60%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://it.wikipedia.org/wiki/HTML" target="_blank" rel="noreferrer noopener">
                            <img src="/images/HTML-Logo.png"/>
                        </a>
                        <span class="val">70%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:70%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://it.wikipedia.org/wiki/CSS" target="_blank" rel="noreferrer noopener">
                            <img src="/images/CSS-Logo.png"/>
                        </a>
                        <span class="val">50%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:50%"></div>
                        </div>
                    </div>
                    <div class="dev-tool">
                        <a href="https://it.wikipedia.org/wiki/JavaScript" target="_blank" rel="noreferrer noopener">
                            <img src="/images/JavaScript-Logo.png"/>
                        </a>
                        <span class="val">20%</span>
                        <div class="bar">
                            <div class="bar-perc" style="max-width:20%"></div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="ref-link" id="progetti"></div>
            <section>
                <div class="title"><b>Progetti</b></div>
                <div class="projects">
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-Rubrica.JPG"/>
                        <div class="proj-spec">
                            <span class="proj-name">Rubrica</span>
                            <div class="proj-desc">Una semplice rubrica telefonica creata con SWING in Java</div>
                        </div>
                        <a class="proj-ref" href="https://github.com/HaroldErDev/Progetto-Rubrica" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-Catering.JPG"/>
                        <div class="proj-spec">
                            <span class="proj-name">Catering</span>
                            <div class="proj-desc">Un sitema informativo di una società che offre servizi di Catering</div>
                        </div>
                        <a class="proj-ref" href="https://github.com/HaroldErDev/SIW-ProgettoDocente-2022" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-Alfresco.JPG"/>
                        <div class="proj-spec">
                            <span class="proj-name">Sistema Documentale</span>
                            <div class="proj-desc">Un sistema documentale personalizzato basato su Alfresco</div>
                        </div>
                        <a class="proj-ref" href="https://github.com/HaroldErDev/TAI-Alfresco-Project" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-TowerDefense.png"/>
                        <div class="proj-spec">
                            <span class="proj-name">Tower Defense</span>
                            <div class="proj-desc">Un progetto di gruppo di un semplice gioco mobile creato con Godot</div>
                        </div>
                        <a class="proj-ref" href="https://gitlab.com/tower-defense-mc/tower-defense" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-Tris.JPG"/>
                        <div class="proj-spec">
                            <span class="proj-name">Tic-Tac-Toe</span>
                            <div class="proj-desc">Il classico gioco di Tris creato usando per la prima volta JavaScript</div>
                        </div>
                        <a class="proj-ref" href="https://github.com/HaroldErDev/JS-Project" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                    <div class="project">
                        <img class="proj-image" src="/images/Proj-MBG.JPG"/>
                        <div class="proj-spec">
                            <span class="proj-name">MBG Library</span>
                            <div class="proj-desc">Un progetto di gruppo per la gestione di Film, Serie Tv, Giochi e Libri</div>
                        </div>
                        <a class="proj-ref" href="https://github.com/OlekasndrPoddubnyy/Progetto_di_Gruppo_SIW" target="_blank" rel="noreferrer noopener">Codice</a>
                    </div>
                </div>
            </section>

            <div class="ref-link" id="istruzione"></div>
            <section>
                <div class="title"><b>Istruzione E Formazione</b></div>
                <div class="description">
                    Per quanto riguarda l'università, sono prima andato per 1 anno
                    (2018 - 2019) all'università Sapienza di Roma a studiare per
                    il corso di Matematica... successivamente mi sono poi trasferito
                    all'università di Roma Tre al corso di Ingegneria Informatica,
                    partendo direttamente dal secondo anno di studi.
                </div>
                <div class="formations">
                    <div class="education" style="flex-grow:0">
                        <span class="educ-year">2019 - 2023</span>
                        <span class="educ-title">Laurea Triennale In Ingegneria Informatica</span>
                        <span class="educ-place">UNIVERSITÀ DEGLI STUDI ROMA TRE</span>
                        <div class="educ-desc">
                            <div class="vote"><b>Voto di Laurea: </b>105/110</div>
                            <div class="thesis"><b>Tesi di Laurea: </b>"Progettazione E Implementazione Di Un Sistema Documentale Personalizzato Basato Su Alfresco"</div>
                        </div>
                    </div>
                    <div class="education" style="flex-grow:1">
                        <span class="educ-year">2013 - 2018</span>
                        <span class="educ-title">Diploma Di Istruzione Secondaria Superiore Di Liceo Scientifico</span>
                        <span class="educ-place">IIS PIAZZA DELLA RESISTENZA - SEDE VIA TIRSO</span>
                        <div class="educ-desc">
                            <div class="vote"><b>Voto: </b>79/100</div>
                            <div class="thesis"><b>Tesina di Maturità: </b>"Probabilità E Giochi Di Carte"</div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="ref-link" id="lingue"></div>
            <section>
                <div class="title"><b>Lingue</b></div>
                <div class="languages">
                    <div class="len-box">
                        <div class="flag">
                            <img src="/images/it.svg"/> <!--Italia-->
                            <span class="language"><b>Italiano</b></span>
                        </div>
                        <span>Madrelingua</span>
                    </div>
                    <div class="len-box">
                        <div class="flag">
                            <img src="/images/gb.svg"/> <!--Regno Unito-->
                            <span class="language"><b>Inglese</b></span>
                        </div>
                        <span>Intermedio</span>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <footer>
        <div class="footer-info">
            Realizzato da Tiziano Tinari
        </div>
    </footer>

    <a href="#" class="back-to-top"> <!--scrollToTop.js-->
        <span class="material-symbols-outlined" id="arrow-up">arrow_upward</span>
        <span class="popup-message"><b>Ritorna in cima</b></span>
    </a>

    <script src="/scripts/scrollToTop.js"></script>
</body>
</html>